@font-face {
    font-family: sohne;
    src: url(../fonts/Sohne-Buch.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: sohne;
    src: url(../fonts/Sohne-Kraftig.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
  }

:root {
    font-size: 20px;

    --page-margin: 1rem;
    --page-padding-bottom: 4rem;
    --black: rgb(0, 0, 0);
    --black-30: rgba(0, 0, 0, 0.3);
    --white: rgb(242, 241, 240);
    --white-50: rgba(255, 255, 255, 0.5);
    --red: rgb(255, 73, 1);
    --blue: rgb(2, 119, 199);
    --light-blue: rgb(170, 203, 223);
    --light-purple: rgb(220, 227, 250);
    --teal: rgb(136, 185, 180);
    --light-grey: rgb(234, 234, 231);
    --dark-grey: rgb(215, 214, 208);

    --sans-serif: 'sohne', sans-serif;
    --symbols: system-ui, -apple-system, BlinkMacSystemFont;
    --font-size-small: 0.6rem;
    --font-size-medium: 1rem;
    --font-size-large: 2rem;
    /* clamp(24px, 2.75vw, 50px) */

    --highlight-color: null;

    --about-max-width: 900px;
}

html {
    scroll-behavior: smooth;
  }

  ::selection {
    background: var(--highlight-color);
    color: var(--white);
  }

body {
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--sans-serif);
    font-size: var(--font-size-medium);
    font-weight: normal;
    margin: var(--page-margin);
    padding-bottom: var(--page-padding-bottom);
    letter-spacing: -0.02em;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--black);
}


.link--inline:after {
    content: '↗';
    font-family: var(--symbols);
    margin-left: 0.25rem;
}

.link--inline:hover:after {
    color: transparent;
}


h3 {
    font-size: var(--font-size-medium);
}

h4 {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: bold;
}

h5 {font-size: var(--font-size-small);
    letter-spacing: 0;
    font-weight: bold;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;        
	/* outline: inherit; */
}

hr {
    width: 100%;
    border-top: 1px solid var(--black-30);
}

.hr--front-page {
    position: relative;
    left: 0;
}




/* GLOBAL: GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 2rem;
    /* row-gap: 2rem; */
}

.span-4 {
    grid-column: span 4;
}

.span-6 {
    grid-column: span 6;
}

.span-7 {
    grid-column: 6/-1;
}

.span-8 {
    grid-column: span 8;
}

.span-all {
    grid-column: 1/-1;
}

/* GLOBAL: NAV */

nav {
    position: fixed;
    top: 1rem;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    z-index: 1;
    font-size: 1rem;
    width: calc(100% - (var(--page-margin) * 2));
}

/* nav a:hover, nav button:hover {
    color: var(--black);
    transition: 0.3s linear;
} */

#nav--main, #nav--secondary, #nav--params {
    display: flex;
}

#nav--main, #nav--secondary {
    gap: 0.5rem;
}

#nav--top {
    display: none;
}

#nav--params {
    display: flex;
    gap: 1rem;
}

.param {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* SECTION: ABOUT */

#about {
    letter-spacing: -0.02em;
    line-height: 1.1;
    /* min-height: 100vh; */
    margin-top: 4rem;
    padding-bottom: 1rem;
    /* background-color: red; */
}

h1 {
    font-size: var(--font-size-large);
    max-width: var(--about-max-width);
}

#about p {
    margin-bottom: var(--font-size-large);
}

.tags {
    display: flex;
    gap: 0.25rem;
}

/* PARAMS */
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 1.25rem;
  }
  
  .switch input { 
    display: none;
    /* opacity: 0;
    width: 0;
    height: 0; */
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-grey);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--light-blue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--light-blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(calc(4rem - 1.25rem));
    -ms-transform: translateX(calc(4rem - 1.25rem));
    transform: translateX(calc(4rem - 1.25rem));
  }

/* SECTION: PROJECTS */
#projects, #sandbox {
    margin: var(--page-margin) 0;
}


.section--header {
    margin-bottom: 1rem;
}


/* .project {
    margin-bottom: 4rem;
} */

.project--thumbnail {
    width: 100%;
}

.project--wrapper, .sandbox--wrapper {
    margin-bottom: 4rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%; */
}

.sandbox--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project--title h3, .sandbox--title h3 {
    margin-bottom: 0.25rem;
}

.project--description p {
    margin-bottom: 0.5rem;
}

.link--button {
    width: fit-content;
}

.link--button:hover {
    background-color: var(--dark-grey);
    transition: 0.3s linear;
    cursor: pointer;
}

.project--info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sandbox--info {
    margin-bottom: 1rem;
}



/* SECTION: INFO */

#info {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 4rem;
    background-color: hsl(80, 4%, 69%);
}

#info .tag {
    background-color: var(--dark-grey);
}

.info--column h4 {
    margin-bottom: 0.5rem;
}

.info--group {
    margin-bottom: 2rem;
}

.info--item {
    margin-bottom: 1rem;
}

.info--reveal {
    display: none;
}

.info--connect:hover ~ .info--reveal {
    display: inline-block;
}

/* PAGE: PROJECT */

#project {
    margin-top: 4rem;
}

#description-button {
    display: none;
}

label:hover {
    color: var(--black);
    cursor: pointer;
    transition: 0.3s linear;
}

.project--description-text {
    display: none;
}

.project--description-headline {
    margin-bottom: 0.5rem;
}

.project--description-text p:not(.project--description-text p:last-of-type) {
    margin-bottom: 1rem;
}

.project--description-text p:last-of-type {
    margin-bottom: 0.5rem;
}

#description-button:checked ~ .project--description-text {
    display: block;
}

#description-button:checked ~ label {
    display: none;
}

#description-button:checked ~ .project--description-headline {
    margin-bottom: 1rem;
    color: var(--black-30);
    transition: color 0.3s linear;
}

  .project--wrapper-info {
    position: sticky;
    top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: red; */
    align-self: start;
  }

  .project--wrapper-image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project--wrapper-image img {
    width: 100%;
  }

  .project--wrapper-credits {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project--wrapper-credits h4 {
    margin-bottom: 0.5rem;
  }



/* UTILITY: BADGE */
.badge {
    background-color: var(--white);
    border-radius: 50px;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    padding: 4px 14px 2px 14px;
    width: fit-content;
}

.tags h4, .tag {
    border-radius: 50px;
    padding: 4px 10px 1px 10px;
    /* background-color: red; */
}

.coming-soon:hover {
    cursor: not-allowed;
}

.hide-element {
    display: none;
}

/* UTILITY: COLOR */
.black-30 {
    color: var(--black-30);
}

/* EFFECT */
.effect--div {
    position: relative;
    display: inline-block;
  }
  
  .effect--span {
    position: relative;
    display: inline-block;
    transition: 0.3s linear;
  /*   box-shadow: 2px 2px 2px 2px #00000050; */
  /*   border: 1px solid black; */
  /*   background-color: hsl(46, 8%, 88%); */
  /*   mix-blend-mode: multiply; */
  /*border-radius: 100%; */
  /*   transform: rotate(45deg); */
  }
  
  .span--index {
    font-size: 0.45rem;
    letter-spacing: 0;
    font-weight: bold;
  }

  /* MEDIA QUERIES */

  @media screen and (max-width: 900px) {

    .info--column.span-4 {
        grid-column: span 6;
    }


  }

  @media screen and (max-width: 768px) {

    :root {
        font-size: 18px; 

    }

    nav {
        gap: 0.5rem;
    }

    h1 {
        max-width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        column-gap: 1rem;
        /* row-gap: 1rem; */
    }

    .span-8, .span-7, .span-4 {
        grid-column: 1/-1;
    }

    #sandbox .grid .span-4 {
        grid-column: span 3;
    }

    .project--wrapper-info {
        position: static;
        margin-bottom: 1rem;
    }

}


  @media screen and (max-width: 500px) {
    #nav--params {
        gap: 0.5rem;
        flex-direction: column;
    }

    .param {
        justify-content: space-between;
    }
  }

  @media screen and (max-width: 425px) {

    :root {
        --font-size-large: 1.2rem;
    }

    #about {
        margin-top: 6rem;
    }

    #sandbox .grid .span-4 {
        grid-column: 1/-1;
    }
/* 
    .span-4 {
        grid-column: 1/-1;
    } */



  }